<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzchnb.twitter.dao.TableMapper.MessageImageMapper" >
  <resultMap id="BaseResultMap" type="com.yzchnb.twitter.entity.TableEntity.MessageImage" >
    <id column="MESSAGE_ID" property="messageId" jdbcType="DECIMAL" />
    <result column="MESSAGE_IMAGE_COUNT" property="messageImageCount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    MESSAGE_ID, MESSAGE_IMAGE_COUNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from MESSAGE_IMAGE
    where MESSAGE_ID = #{messageId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from MESSAGE_IMAGE
    where MESSAGE_ID = #{messageId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.yzchnb.twitter.entity.TableEntity.MessageImage" >
    insert into MESSAGE_IMAGE (MESSAGE_ID, MESSAGE_IMAGE_COUNT)
    values (#{messageId,jdbcType=DECIMAL}, #{messageImageCount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.yzchnb.twitter.entity.TableEntity.MessageImage" >
    insert into MESSAGE_IMAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        MESSAGE_ID,
      </if>
      <if test="messageImageCount != null" >
        MESSAGE_IMAGE_COUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        #{messageId,jdbcType=DECIMAL},
      </if>
      <if test="messageImageCount != null" >
        #{messageImageCount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yzchnb.twitter.entity.TableEntity.MessageImage" >
    update MESSAGE_IMAGE
    <set >
      <if test="messageImageCount != null" >
        MESSAGE_IMAGE_COUNT = #{messageImageCount,jdbcType=DECIMAL},
      </if>
    </set>
    where MESSAGE_ID = #{messageId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yzchnb.twitter.entity.TableEntity.MessageImage" >
    update MESSAGE_IMAGE
    set MESSAGE_IMAGE_COUNT = #{messageImageCount,jdbcType=DECIMAL}
    where MESSAGE_ID = #{messageId,jdbcType=DECIMAL}
  </update>
</mapper>