<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzchnb.twitter.dao.FunctionMapper.FuncSearchTopicsMapper">

	<parameterMap id="paramMapX" type="java.util.Map">
		<parameter property="return"  javaType="java.lang.Integer" jdbcType="INTEGER" mode="OUT" />
		<parameter property="searchkey"  javaType="java.lang.String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="startfrom"  javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN" />
		<parameter property="limitation"  javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN" />
		<parameter property="data"  javaType="java.sql.ResultSet" jdbcType="CURSOR" mode="OUT" resultMap="cursorMapX"/>
	</parameterMap>

	<resultMap id="cursorMapX" type="java.util.Map">
		<result property="topicId" column="TOPIC_ID" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result property="topicHeat" column="TOPIC_HEAT" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result property="topicContent" column="TOPIC_CONTENT" jdbcType="VARCHAR" javaType="java.lang.String"/>
	</resultMap>

	<select id="call" statementType="CALLABLE" parameterMap="paramMapX">
		{? = call FUNC_SEARCH_TOPICS(?,?,?,?) }
	</select>

</mapper>