<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzchnb.twitter.dao.FunctionMapper.FuncTranspondMessageMapper">

	<parameterMap id="paramMapX" type="java.util.Map">
		<parameter property="return"  javaType="java.lang.Integer" jdbcType="INTEGER" mode="OUT" />
		<parameter property="messageContent"  javaType="java.lang.String" jdbcType="VARCHAR" mode="IN" />
		<parameter property="messageSourceIsTranspond"  javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN" />
		<parameter property="messageSenderUserId"  javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN" />
		<parameter property="messageTranspondMessageId"  javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN" />
		<parameter property="data"  javaType="java.lang.Integer" jdbcType="INTEGER" mode="OUT" />
	</parameterMap>


	<select id="call" statementType="CALLABLE" parameterMap="paramMapX">
		{? = call FUNC_TRANSPOND_MESSAGE(?,?,?,?,?) }
	</select>

</mapper>