<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzchnb.twitter.dao.FunctionMapper.FuncAddRelationMapper">

	<parameterMap id="paramMapX" type="java.util.Map">
		<parameter property="return"  javaType="java.lang.Integer" jdbcType="INTEGER" mode="OUT" />
		<parameter property="followerId"  javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN" />
		<parameter property="beFollowedId"  javaType="java.lang.Integer" jdbcType="INTEGER" mode="IN" />
	</parameterMap>


	<select id="call" statementType="CALLABLE" parameterMap="paramMapX">
		{? = call FUNC_ADD_RELATION(?,?) }
	</select>

</mapper>